<!-- footer -->
<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-paw"></i>
					<h2>Beneficios de la adopción</h2>
					<p>La adopción de mascotas también puede tener beneficios emocionales y físicos para los
						adoptantes, incluida la reducción del estrés y la promoción de un estilo de vida más activo.
					</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fa-solid fa-heart"></i>
					<h2>Adopta, no compres</h2>
					<p>"La adopción de una mascota no solo te da un compañero, sino que te regala un amigo para toda
						la vida."</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fa-solid fa-earth-americas"></i>
					<h2>Estadísticas globales</h2>
					<p>La adopción es una práctica común en muchas partes del mundo como una forma de encontrar un
						compañero animal y combatir el problema de los animales sin hogar.</p>
				</article>
			</div>
		</div>
	</div>
</footer>
<!-- footer -->