<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Formulario login-->
				<form action="/" method="get">
					<div class="divs-form">
						<label for="email" class="form-label">Ingrese su email:</label>
						<input id="email" type="email" name="email" class="form-input">
					</div>
					<div class="divs-form">
						<label for="password" class="form-label">Ingrese su contraseña:</label>
						<input type="password" name="password" id="password" class="form-input">
					</div>
					<div>
						<input type="checkbox" id="recordar" name="recordar" class="recordarCheck" value="recordar">
						<label for="recordar" class="form-label">Recordarme</label>
					</div>
					<div>
						<button type="submit" class="button-form">Login</button>
					</div>
				</form>
				
			

	<!-- footer -->
	<%- include('./partials/footer') %>

</body>

</html>