<!DOCTYPE html>
<html lang="es">
	
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Formulario para agregar producto -->
			<form action="/" method="get">
				<div>
					<label for="imgProducto">Ingrese una imagen del producto: </label>
					<input type="file" name="imgProducto" id="imgProducto">
				</div>
				<div>
					<label for="nombreProducto">Ingrese el nombre del producto: </label>
					<input type="text" name="nombreProducto" id="nombreProducto">
				</div>
				<div>
					<label for="descripcionProducto">Ingrese la descripción del producto: </label>
					<textarea name="descripcionProducto" id="descripcionProducto" cols="15" rows="5"></textarea>
				</div>
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	
</body>

</html>